<section class="footer">
    <div class="footer__content">
        <div class="logo"><img src="assets/images/thoughttomvplogo.png"></div>
        <div class="footer-section">
            <div class="heading">Follow us</div>
            <div class="social-links">
    <a href="https://facebook.com/279684608571360" target=”_blank” class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="https://instagram.com/thoughttomvp.design"  target=”_blank” class="instagram"><i class="fa fa-instagram"></i></a> 
    <a href="https://wa.me/0711910652" target=”_blank” class="whatsapp"><i class="fa fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="footer-section">
            <div class="heading">Contact Us</div>
            <div class="contact-details">
                <p>Whatsapp: 0711910652</p>
                <p>hello&#64;thoughttomvppages.co.za</p>
                <p>thoughttomvp&#64;gmail.com</p>
            </div>
        </div>
    </div>
    <div class="copyright">
    <hr>
  <div class="text">&#64;thoughttomvp 2025</div>  
</div>
</section>
