<section class="pricing">
  <div class="heading">How much do I need to Invest?</div>
  <div class="pricing__content">
    <div class="pricing-cards">
      <div class="pricing-card">
        <div class="card-image"><img src="assets/images/card-img.png"></div>
        <div class="card-title">
          Landing Page
        </div>
        <hr>
        <div class="card-price">
          R 17 500
        </div>
        <ul>
          <li>Search Engine Optimized</li>
          <li>Crafted for your business</li>
          <li>Copywriting</li>
          <li>User Experience (UX) Optimization</li>
          <li>Responsive Design</li>
          <li> High-quality images or video integration</li>
          <li>A/B Testing Setup</li>
          <li>2 x revision</li>
          <li>Google Analytics Setup to track performance and conversions</li>
        </ul>
      </div>
      <div class="pricing-card">
        <div class="card-image"><img src="assets/images/card-img.png"></div>
        <div class="card-title">
          Landing Page + E-newsletter
        </div>
        <hr>
        <div class="card-price">
          R 25 500
        </div>
        <ul>
          <li>Search Engine Optimized</li>
          <li>Crafted for your business</li>
          <li>Copywriting</li>
          <li>User Experience (UX) Optimization</li>
          <li>Responsive Design</li>
          <li> High-quality images or video integration</li>
          <li>A/B Testing Setup</li>
          <li>2 x revision</li>
          <li>Google Analytics Setup to track performance and conversions</li>
          <li>Custom e-newsletter design</li>
          <li>Email Marketing Integration</li>
        </ul>
      </div>
    </div>
  </div>
</section>
