<section class="banner">
  <!-- <app-navigation></app-navigation> -->
  <div class="banner__content">
    <div class="heading">High-Converting Landing Pages for Entrepreneurs Looking to <span class="highlight">Expand their
        Business</span>.</div>
    <p>Discover the potential of high-converting landing pages crafted to elevate your sales and expand your business.
      Designed for entrepreneurs that are looking to expand their business, our professionally created pages transform
      visitors into dedicated customers, delivering impressive results and optimizing your return on investment.</p>
    <div class="button-section">
      <button (click)="scrollTo('pricing')">Invest in a Landing Page</button>
      <!-- <span class="button-context">Pricing that works for you.</span> -->
    </div>
    <div class="features">
      <div class="feature"><i class="fa fa-check" aria-hidden="true"></i>Search Engine Optimized(SEO)</div>
      <div class="feature"><i class="fa fa-check" aria-hidden="true"></i>Copywriting</div>
      <div class="feature"><i class="fa fa-check" aria-hidden="true"></i>Landing Page Performance Stats</div>
    </div>
    <div class="banner-image">
      <img src="/assets/images/engbannerimg.png">
    </div>
  </div>
</section>
