.benefits {
  display: flex;
  justify-content: center;
  padding: 4em 0;

  &__content {
    .heading {
      font-size: 1.1em;
      padding: 1em;
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;

      @media(min-width: 768px) {
        font-size: 1.8em;
      }

    }

    .benefits-cards {
      display: flex;
      flex-direction: column;

      @media(min-width: 1280px) {
        flex-direction: row;
      }

      .benefits-card {
        display: block;
        width: 70vw;
        height: 15vh;

        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        padding: 1em;
        margin: 1em;

        @media(min-width: 768px) {
          width: 75vw;
          height: 10vh;
        }

        @media(min-width: 1280px) {
          width: 18vw;
          height: 22vh;
        }

        .card-title {
          font-family: "Outfit", sans-serif;
          font-optical-sizing: auto;
          font-size: 1em;
          font-weight: 500;
          line-height: 1.5;
        }

        p {
          font-family: "Outfit", sans-serif;
          font-optical-sizing: auto;
          font-weight: 300;
        }

        .fa {
          color: rgba(255, 170, 48, 1);
          padding: 0.5em 0;
          font-size: 1.5em;
        }
      }
    }
  }
}
