<section class="benefits">
  <div class="benefits__content">
    <div class="heading">Benefits of a Landing Page.</div>
    <div class="benefits-cards">
      <div class="benefits-card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <div class="card-title">Transform visitors into leads.</div>
        <p>Increase conversion by guiding your audience through a clear and compelling message.</p>
      </div>
      <div class="benefits-card">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
        <div class="card-title">Improve search rankings.</div>
        <p>Search Engine Optimized content that help improve search ranking and attract traffic.</p>
      </div>
      <div class="benefits-card">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
        <div class="card-title">Speak directly to your target audience.</div>
        <p>Better targeting with tailored content that speaks directly to your target audience.</p>
      </div>
      <div class="benefits-card">
        <i class="fa fa-rocket" aria-hidden="true"></i>
        <div class="card-title">Build Confidence.</div>
        <p>Professionally crafted landing pages that help business build confidence.</p>
      </div>

    </div>

  </div>

</section>
